<div class="row">
    <div class="col-12">
        <h1>{{pageTitle}}</h1>
    </div>
</div>
<hr />
<div class="blog-form  mt-5">
    <form [formGroup]="blogForm" (ngSubmit)="onSubmit()">
        <div class="form-group row">
            <label class="col-md-3" for="title">Titel * <span class="sr-only">Pflichtfeld</span></label>
            <div class="col-md-9">
                <input type="text" formControlName="title" class="form-control" required id="title">
                <div *ngIf="title.invalid && (title.dirty || title.touched)" class="error">
                    <div *ngIf="title.errors">
                        Der Titel ist ein Pflichtfeld.
                    </div>
                </div>
            </div>
        </div>
        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-md-3 pt-0">Auf Startseite</legend>
                <div class="col-md-9">
                    <div class="form-check">
                        <input type="radio" formControlName="is_featured" value="1" id="isfeaturedYes" class="form-check-input" />
                        <label for="isfeaturedYes" class="form-check-label">Ja</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" formControlName="is_featured" value="0" id="isfeaturedNo" class="form-check-input" />
                        <label for="isfeaturedNo" class="form-check-label">Nein</label>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-md-3 pt-0">Ist aktiv</legend>
                <div class="col-md-9">
                    <div class="form-check">
                        <input type="radio" formControlName="is_active" value="1" id="isactiveYes"
                            class="form-check-input" />
                        <label for="isactiveYes" class="form-check-label">Ja</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" formControlName="is_active" value="0" id="isactiveNo"
                            class="form-check-input" />
                        <label for="isactiveNo" class="form-check-label">Nein</label>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="form-group row">
            <label class="col-md-3" for="image">Bild hochladen</label>
            <div class="col-md-9">
                <input type="file" id="image" (change)="onSelectedFile($event)" />
                <div [innerHTML]="uploadError"></div>
                <div *ngIf="imagePath">
                    <br />
                    <img [src]="imagePath" width="100px">
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3" for="alternativText">Alternativtext Bild</label>
            <div class="col-md-9">
                <input type="text" formControlName="image_alt" class="form-control" id="alternativText">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12">
                <ckeditor [editor]="Editor" [config]="editorConfig" formControlName="description"
                    aria-labelledby="desc" tagName="textarea">
                </ckeditor>
                <div *ngIf="description.invalid && (description.dirty || description.touched)" class="error">
                    <div *ngIf="description.errors">
                        Die Beschreibung ist ein Pflichtfeld.
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-9 offset-md-3">
                <input type="hidden" formControlName="id">
                <button type="submit" [disabled]="!blogForm.valid" class="btn btn-primary">Speichern</button>
            </div>
        </div>
    </form>
</div>
{{error}}